html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}ins,mark{background-color:#ff9;color:#000}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
.CodeMirror{font-family:'Fantasque Sans Mono',monospace;height:300px;color:#000}.CodeMirror-lines{padding:4px 0}.CodeMirror pre{padding:0 4px}.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{background-color:#fff}.CodeMirror-gutters{border-right:1px solid #ddd;background-color:#f7f7f7;white-space:nowrap}.CodeMirror-linenumber{padding:0 3px 0 5px;min-width:20px;text-align:right;color:#999;-moz-box-sizing:content-box;box-sizing:content-box}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror div.CodeMirror-cursor{border-left:1px solid #000}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.CodeMirror.cm-fat-cursor div.CodeMirror-cursor{width:auto;border:0;background:#7e7}.CodeMirror.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-animate-fat-cursor{width:auto;border:0;-webkit-animation:blink 1.06s steps(1)infinite;-moz-animation:blink 1.06s steps(1)infinite;animation:blink 1.06s steps(1)infinite}@-moz-keyframes blink{0%{background:#7e7}50%{background:0 0}100%{background:#7e7}}@-webkit-keyframes blink{0%{background:#7e7}50%{background:0 0}100%{background:#7e7}}@keyframes blink{0%{background:#7e7}50%{background:0 0}100%{background:#7e7}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-ruler{border-left:1px solid #ccc;position:absolute}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-header{color:#00f}.cm-s-default .cm-quote{color:#090}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-error,.cm-invalidchar{color:red}div.CodeMirror span.CodeMirror-matchingbracket{color:#0f0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#f22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{position:relative;overflow:hidden;background:#fff}.CodeMirror-scroll{overflow:scroll!important;margin-bottom:-30px;margin-right:-30px;padding-bottom:30px;height:100%;outline:none}.CodeMirror-scroll,.CodeMirror-sizer{position:relative;-moz-box-sizing:content-box;box-sizing:content-box}.CodeMirror-sizer{border-right:30px solid transparent}.CodeMirror-vscrollbar,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{position:absolute;z-index:6;display:none}.CodeMirror-vscrollbar{right:0;top:0;overflow-x:hidden;overflow-y:scroll}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-y:hidden;overflow-x:scroll}.CodeMirror-scrollbar-filler{right:0;bottom:0}.CodeMirror-gutter-filler{left:0;bottom:0}.CodeMirror-gutters{position:absolute;left:0;top:0;z-index:3}.CodeMirror-gutter{white-space:normal;height:100%;-moz-box-sizing:content-box;box-sizing:content-box;display:inline-block;margin-bottom:-30px;*zoom:1;*display:inline}.CodeMirror-gutter-wrapper{position:absolute;z-index:4;height:100%}.CodeMirror-gutter-elt{position:absolute;cursor:default;z-index:4}.CodeMirror-gutter-wrapper{-webkit-user-select:none;-moz-user-select:none;user-select:none}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border-width:0;background:0 0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;line-height:inherit;color:inherit;z-index:2;position:relative;overflow:visible;-webkit-tap-highlight-color:transparent}.CodeMirror-wrap pre{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{position:absolute;left:0;right:0;top:0;bottom:0;z-index:0}.CodeMirror-linewidget{position:relative;z-index:2;overflow:auto}.CodeMirror-code{outline:none}.CodeMirror-measure{position:absolute;width:100%;height:0;overflow:hidden;visibility:hidden}.CodeMirror-measure pre{position:static}.CodeMirror div.CodeMirror-cursor{position:absolute;border-right:none;width:0}div.CodeMirror-cursors{visibility:hidden;position:relative;z-index:3}.CodeMirror-focused div.CodeMirror-cursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror ::selection{background:#d7d4f0}.CodeMirror ::-moz-selection{background:#d7d4f0}.cm-searching{background:#ffa;background:rgba(255,255,0,.4)}.CodeMirror span{*vertical-align:text-bottom}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:''}span.CodeMirror-selectedtext{background:0 0}

/*
    Original theme by: Zeno Rocha
    Brackets theme adaptation by: Felipe KM
    Statusbar, Toolbar, Sidebar css added by: Rafael Artoo Derolez
*/

.cm-s-dracula .CodeMirror-scroll{
    margin-right: 5px;
    border-color: #202020;
}
.cm-s-dracula .CodeMirror-vscrollbar{
    overflow-y: hidden;
}
.cm-s-dracula ::-webkit-scrollbar {
    width: 10px;
}
.cm-s-dracula ::-webkit-scrollbar-track {
    background: transparent;
}
.cm-s-dracula ::-webkit-scrollbar-thumb {
    background: #383a48;
    border-radius: 5px;
}
.cm-s-dracula ::-webkit-scrollbar-thumb:hover{
    background: #444756;
}
.cm-s-dracula ::-webkit-scrollbar-thumb:active{
    background: #5d6073;
}

.cm-s-dracula.CodeMirror {
  background: #34363B;
  color: #EEE;
  font-size: 14px;
  line-height: 1.5em;
}

.cm-s-dracula div.CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
  z-index: 3;
}

.CodeMirror-selected {
    background: #3d3d3d;
    opacity: .23;
}

.cm-s-dracula span.cm-keyword {color: #66C4FF;}
.cm-s-dracula span.cm-atom {color: #FFE169;}
.cm-s-dracula span.cm-number {color: #FFE169;}
.cm-s-dracula span.cm-def {color: #ffb86c;}
.cm-s-dracula span.cm-variable {color: #EEE;}
.cm-s-dracula span.cm-variable-2 {color: #FFE169;}
.cm-s-dracula span.cm-property {color: #8be9fd;}
.cm-s-dracula span.cm-operator {color: #66C4FF;}
.cm-s-dracula span.cm-comment {color: #A9B0C2;}
.cm-s-dracula span.cm-string {color: #FFE169;}
.cm-s-dracula span.cm-string-2 {color: #FFE169;}
.cm-s-dracula span.cm-meta {color: #61FF90;}
.cm-s-dracula span.cm-qualifier, .CodeMirror span.cm-builtin {color: #61FF90;}
.cm-s-dracula span.cm-bracket {color: #f9faf4;}
.cm-s-dracula span.cm-tag {color: #66C4FF !important;}
.cm-s-dracula span.cm-attribute {color: #61FF90;}
.cm-s-dracula span.cm-matchhighlight {background-color: rgba(68,71,90.23);}

.cm-s-dracula span.CodeMirror-matchingbracket {
    color: #61FF90;
    font-weight: bold;
}

.cm-s-dracula span.CodeMirror-matchingtag {
  color: #61FF90 !important;
  text-decoration:underline;
  background:none;
}


.cm-s-dracula span.CodeMirror-searching {
  background-color: none;
  background: none;
  box-shadow: 0 0 0 1px #fff;
}

.cm-s-dracula .CodeMirror-gutters {
  background: #34363B;
  border-right: 0.5rem solid #34363B;
}

.cm-s-dracula .CodeMirror-linenumber {
  color: #5B6173;
}

/**
 * Editor Styles
 */
.editor {
  position: fixed;
  top: 0; right: 0; left: 50%;
  bottom: 0;
}

/**
 * UI Styles
 */
body {
 background: #4A4F5E;
}

header {
  position: absolute;
  top: 0; left: 0; right: 50%;
  height: 3rem;
  background: #4A4F5E;
}

header h1 {
  font-family: 'Roboto';
  line-height: 3rem;
  color: #DEE7FF;
  margin: 0;
  margin-left: 0.75rem;
  font-weight: 300;
  font-size: 1.25rem;
}

header h1 .lang {
  color: #61FF90;
}

main {
  width: 50vw;
  min-height: calc(100vh - 3rem);
  background: #4A4F5E;
}

.canvas-container {
  position: relative;
  margin-top: 3rem;
  width: 50vw;
  height: 28vw;
  background: #5B6173;
}

.canvas-inner {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.buttons {
  position: absolute;
  right: 0.3rem;
  top: 0;
}

.buttons > li {
  opacity: 0.5;
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 3rem;
  float: right;
  padding-left: 0.25rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s;
}

.buttons > li:hover {
  opacity: 1;
}

.buttons li.play { background-image: url('/play.svg'); }
.buttons li.auto { background-image: url('/auto.svg'); }
.buttons li.full { background-image: url('/full.svg'); }
.fullscreen .buttons li.full { background-image: url('/full-close.svg'); }
.instant    .buttons li.auto { background-image: url('/auto-on.svg'); }

.fullscreen .canvas-container {
  position: absolute;
  top: 3rem; left: 0; right: 0; bottom: 0;
  width: auto; height: auto;
  margin-top: 0;
}

.fullscreen .editor {
  left: 2rem; right: 2rem; top: 5rem; bottom: 2rem;
}

.fullscreen .CodeMirror {
  background: rgba(52, 54, 59, 0.5);
  border-radius: 0.15rem;
  opacity: 0;
  transition: opacity 0.2s;
  text-shadow: 0 1px rgba(52, 54, 59, 0.5);
}

.fullscreen .CodeMirror:hover {
  opacity: 1;
}

.fullscreen .CodeMirror .CodeMirror-gutters {
  background: transparent;
  border-right: 0;
  padding-right: 0.5rem;
}

.fullscreen header {
  z-index: 99;
  width: 100vw;
}
